In [1]:
url = "https://www.twse.com.tw/rwd/zh/afterTrading/STOCK_DAY_AVG?date=20230101&stockNo=2330&response=csv"

In [2]:
import pandas as pd

In [7]:
pd.read_csv(url, encoding="big5", skiprows=1, skipfooter=5)

/var/folders/wz/nykyh5gs2ydchhm_zdd_mkth0000gn/T/ipykernel_88936/740135055.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  pd.read_csv(url, encoding="big5", skiprows=1, skipfooter=5)

           日期     收盤價  Unnamed: 2
0   112/01/03  453.00         NaN
1   112/01/04  449.50         NaN
2   112/01/05  458.50         NaN
3   112/01/06  458.50         NaN
4   112/01/09  481.00         NaN
5   112/01/10  486.00         NaN
6   112/01/11  484.50         NaN
7   112/01/12  486.50         NaN
8   112/01/13  500.00         NaN
9   112/01/16  505.00         NaN
10  112/01/17  503.00         NaN
11  112/01/30  543.00         NaN
12  112/01/31  522.00         NaN
13     月平均收盤價  486.96         NaN

In [18]:
park_data = pd.read_csv("/Users/lzrong/Downloads/臺北捷運車站周邊轉乘停車場資訊.csv",
                        encoding="big5", index_col="項次")

In [21]:
park_data

               停車場名稱         緯度           經度  小汽車   機車  自行車
項次
1        捷運劍南路站轉乘停車場  25.084540  121.5544513  282   52  122
2         捷運文德站轉乘停車場  25.078450   121.584945  306    0    0
3         捷運頂埔站轉乘停車場  24.958923  121.4200616   77  298    0
4         捷運永寧站轉乘停車場  24.965650    121.43562  202    0    0
5         捷運海山站轉乘停車場  24.986950   121.449236   63   99  132
..               ...        ...          ...  ...  ...  ...
219      捷運幸福站自行車停車區  25.049670    121.46042    0    0  227
220   捷運新北產業園區站轉乘停車場  25.060600    121.45964   25    0    0
221  捷運新北產業園區站自行車停車區  25.060780    121.45952    0    0   91
222       捷運新莊站機車停車區  25.036145  121.4525961    0    2    0
223       捷運辛亥站機車停車區  25.005520    121.55709    0   18    0

[223 rows x 6 columns]

In [24]:
youbike_url = "https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json"

In [26]:
youbike_df = pd.read_json(youbike_url)

In [28]:
youbike_df.set_index("sno")

,sna,tot,sbi,sarea,mday,lat,lng,ar,sareaen,snaen,aren,bemp,act,srcUpdateTime,updateTime,infoTime,infoDate
sno,,,,,,,,,,,,,,,,,
500101001,YouBike2.0_捷運科技大樓站,28,9,大安區,2024-01-08 00:57:05,25.02605,121.54360,復興南路二段235號前,Daan Dist.,YouBike2.0_MRT Technology Bldg. Sta.,No.235， Sec. 2， Fuxing S. Rd.,19,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:05,2024-01-08
500101002,YouBike2.0_復興南路二段273號前,21,8,大安區,2024-01-08 00:57:05,25.02565,121.54357,復興南路二段273號西側,Daan Dist.,YouBike2.0_No.273， Sec. 2， Fuxing S. Rd.,No.273， Sec. 2， Fuxing S. Rd. (West),13,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:05,2024-01-08
500101003,YouBike2.0_國北教大實小東側門,16,9,大安區,2024-01-08 00:57:05,25.02429,121.54124,和平東路二段96巷7號,Daan Dist.,YouBike2.0_NTUE Experiment Elementary School (...,No. 7， Ln. 96， Sec. 2， Heping E. Rd,7,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:05,2024-01-08
500101004,YouBike2.0_和平公園東側,11,4,大安區,2024-01-08 00:57:05,25.02351,121.54282,和平東路二段118巷33號,Daan Dist.,YouBike2.0_Heping Park (East),No. 33， Ln. 118， Sec. 2， Heping E. Rd,7,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:05,2024-01-08
500101005,YouBike2.0_辛亥復興路口西北側,16,1,大安區,2024-01-08 00:57:05,25.02153,121.54299,復興南路二段368號,Daan Dist.,YouBike2.0_Xinhai Fuxing Rd. Intersection (Nor...,No. 368， Sec. 2， Fuxing S. Rd.,15,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:05,2024-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500119087,YouBike2.0_臺大總圖書館西南側,30,17,臺大公館校區,2024-01-08 00:57:16,25.01690,121.54031,臺大圖書館西南側,NTU Dist,YouBike2.0_NTU Main Library(Southwest),NTU Main Library(Southwest),13,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:16,2024-01-08
500119088,YouBike2.0_臺大黑森林西側,20,4,臺大公館校區,2024-01-08 00:57:16,25.01995,121.54347,臺大霖澤館南側,NTU Dist,YouBike2.0_NTU Black Forest(West),NTU Tsai Lecture Hall(South),16,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:16,2024-01-08
500119089,YouBike2.0_臺大獸醫館南側,24,11,臺大公館校區,2024-01-08 00:57:16,25.01791,121.54242,臺大獸醫系館南側,NTU Dist,YouBike2.0_NTU Dept. of Veterinary Medicine(So...,NTU Dept. of Veterinary Medicine(South),13,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:16,2024-01-08
500119090,YouBike2.0_臺大新體育館東南側,40,3,臺大公館校區,2024-01-08 00:57:16,25.02112,121.53591,臺大體育館東側,NTU Dist,YouBike2.0_NTU Sports Center(Southeast),NTU Sports Center(East),37,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:16,2024-01-08
500119091,YouBike2.0_臺大明達館北側(員工宿舍),18,14,臺大公館校區,2024-01-08 00:57:16,25.01816,121.54469,明達館北側前空地,NTU Dist,YouBike2.0_NTU Ming - Da Hall (Staff Dormitory),NTU Ming - Da Hall (North),4,1,2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:16,2024-01-08

In [32]:
park_data.head()

          停車場名稱         緯度           經度  小汽車   機車  自行車
項次
1   捷運劍南路站轉乘停車場  25.084540  121.5544513  282   52  122
2    捷運文德站轉乘停車場  25.078450   121.584945  306    0    0
3    捷運頂埔站轉乘停車場  24.958923  121.4200616   77  298    0
4    捷運永寧站轉乘停車場  24.965650    121.43562  202    0    0
5    捷運海山站轉乘停車場  24.986950   121.449236   63   99  132

In [33]:
park_data.tail()

               停車場名稱         緯度           經度  小汽車  機車  自行車
項次
219      捷運幸福站自行車停車區  25.049670    121.46042    0   0  227
220   捷運新北產業園區站轉乘停車場  25.060600    121.45964   25   0    0
221  捷運新北產業園區站自行車停車區  25.060780    121.45952    0   0   91
222       捷運新莊站機車停車區  25.036145  121.4525961    0   2    0
223       捷運辛亥站機車停車區  25.005520    121.55709    0  18    0

In [55]:
park_data["經度"][park_data["經度"].str.contains(",")] = 121.47214

/var/folders/wz/nykyh5gs2ydchhm_zdd_mkth0000gn/T/ipykernel_88936/409200906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park_data["經度"][park_data["經度"].str.contains(",")] = 121.47214

In [56]:
park_data["經度"][50]

121.47214

In [61]:
park_data["經度"] = pd.to_numeric(park_data["經度"])

In [62]:
park_data.dtypes

停車場名稱     object
緯度       float64
經度       float64
小汽車        int64
機車         int64
自行車        int64
dtype: object

In [66]:
park_data.describe(include="object")

             停車場名稱
count          223
unique         139
top     捷運輔大站機車停車區
freq             6

In [67]:
youbike_df.describe(include="object")

,sna,sarea,mday,ar,sareaen,snaen,aren,srcUpdateTime,updateTime,infoTime,infoDate
count,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328,1328
unique,1328,13,2,1327,13,1322,1324,1,1,2,1
top,YouBike2.0_捷運科技大樓站,大安區,2024-01-08 00:57:16,酒泉街235號前,Daan Dist.,YouBike2.0_Xinhu 3rd Rd. & Ln. 146， Xinhu 2nd ...,No. 259， Daye Rd. (Opposite),2024-01-08 00:57:40,2024-01-08 00:57:51,2024-01-08 00:57:16,2024-01-08
freq,1,171,1282,2,171,2,2,1328,1328,1282,1328