In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({"A": [1, np.nan, 3], "B": [4, 5, np.nan]})
df2 = pd.DataFrame({"A": [1, np.nan, 3], "B": [4, 5, np.nan], "C": [7, 8, 9]})

In [3]:
df

     A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN

In [4]:
df.isna()

       A      B
0  False  False
1   True  False
2  False   True

In [7]:
df[["A"]][df.A.notna()].index

Index([0, 2], dtype='int64')

In [9]:
df.notna().any()

A    True
B    True
dtype: bool

In [12]:
df2.notna().any()

A    True
B    True
C    True
dtype: bool

In [13]:
df.isna().any()

A    True
B    True
dtype: bool

In [14]:
df2.isna().any()

A     True
B     True
C    False
dtype: bool

In [ ]:
df.any()

In [16]:
df2.isna()

       A      B      C
0  False  False  False
1   True  False  False
2  False   True  False

In [19]:
df.isna()

       A      B
0  False  False
1   True  False
2  False   True

In [18]:
df.isna().any(axis=1)

0    False
1     True
2     True
dtype: bool

In [22]:
df.notna().all()

A    False
B    False
dtype: bool

In [23]:
df.notna().all(axis=1)

0     True
1    False
2    False
dtype: bool

In [25]:
df.fillna(0)

     A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

In [26]:
df

     A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN

In [27]:
df.fillna(method="ffill")

     A    B
0  1.0  4.0
1  1.0  5.0
2  3.0  5.0

In [28]:
df.fillna(method="bfill")

     A    B
0  1.0  4.0
1  3.0  5.0
2  3.0  NaN

In [31]:
df.fillna(np.mean(df))

      A     B
0  1.00  4.00
1  3.25  5.00
2  3.00  3.25

In [32]:
np.mean(df)

3.25

In [37]:
df2.dropna(axis=0)

     A    B  C
0  1.0  4.0  7

In [38]:
df2

     A    B  C
0  1.0  4.0  7
1  NaN  5.0  8
2  3.0  NaN  9