In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A num': [1, np.nan, 3], 'B': [4, 5, np.nan]})

In [6]:
df["A num"]

0    1.0
1    NaN
2    3.0
Name: A num, dtype: float64

In [8]:
df

   A num    B
0    1.0  4.0
1    NaN  5.0
2    3.0  NaN

In [12]:
df.rename(columns={"A num": "a", "B": "b", "C":"c"}, errors="raise")

KeyError: "['C'] not found in axis"

In [10]:
df

   A num    B
0    1.0  4.0
1    NaN  5.0
2    3.0  NaN

In [13]:
df.rename(columns={"A num": "a", "B": "b", "C":"c"}, inplace=True)

In [22]:
df.applymap(lambda x: x ** 2 if pd.notna(x) else 0)

     a     b
0  1.0  16.0
1  0.0  25.0
2  9.0   0.0

In [23]:
df.apply(lambda x: x ** 2)

     a     b
0  1.0  16.0
1  NaN  25.0
2  9.0   NaN

In [28]:
df.a.map({np.nan: 0, 3: 33, 1: 11})

0    11
1     0
2    33
Name: a, dtype: int64

In [30]:
df2 = df.replace({np.nan: 0})

In [36]:
df2.astype("int").dtypes

a    int64
b    int64
dtype: object

In [35]:
df2

     a    b
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

a    1.333333
b    3.000000
dtype: float64