In [1]:
import yfinance as yf

In [3]:
twii = yf.download("^TWII", start="2023-01-01", end="2023-12-31")

[*********************100%%**********************]  1 of 1 completed

In [4]:
twii.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,14108.160156,14237.940430,14001.969727,14224.120117,14224.120117,1816400
2023-01-04,14186.950195,14257.450195,14177.969727,14199.129883,14199.129883,2073800
2023-01-05,14285.120117,14357.599609,14270.929688,14301.049805,14301.049805,2086500
2023-01-06,14278.519531,14384.919922,14278.519531,14373.339844,14373.339844,1741200
2023-01-09,14504.469727,14752.209961,14504.469727,14752.209961,14752.209961,2581100

In [6]:
twii - twii.shift()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-04,78.790039,19.509766,176.000000,-24.990234,-24.990234,257400.0
2023-01-05,98.169922,100.149414,92.959961,101.919922,101.919922,12700.0
2023-01-06,-6.600586,27.320312,7.589844,72.290039,72.290039,-345300.0
2023-01-09,225.950195,367.290039,225.950195,378.870117,378.870117,839900.0
...,...,...,...,...,...,...
2023-12-25,10.109375,45.179688,27.718750,8.208984,8.208984,-672900.0
2023-12-26,22.820312,88.380859,23.820312,146.890625,146.890625,-127400.0
2023-12-27,147.640625,145.429688,147.640625,139.769531,139.769531,478000.0
2023-12-28,134.029297,30.980469,75.029297,18.869141,18.869141,-88300.0
2023-12-29,-7.128906,17.558594,22.470703,20.441406,20.441406,-421700.0

In [8]:
twii["Change"] = twii.Close.diff()

In [16]:
twii_change = twii.Close.diff().apply(lambda x: "rise" if x > 0 else ("fall" if x < 0 else "flat"))

In [17]:
twii_change.value_counts()

Close
rise    145
fall     93
flat      1
Name: count, dtype: int64

In [18]:
twii["Change_status"] = twii_change

In [19]:
twii.head()

,Open,High,Low,Close,Adj Close,Volume,Change,Change_status
Date,,,,,,,,
2023-01-03,14108.160156,14237.940430,14001.969727,14224.120117,14224.120117,1816400,NaN,flat
2023-01-04,14186.950195,14257.450195,14177.969727,14199.129883,14199.129883,2073800,-24.990234,fall
2023-01-05,14285.120117,14357.599609,14270.929688,14301.049805,14301.049805,2086500,101.919922,rise
2023-01-06,14278.519531,14384.919922,14278.519531,14373.339844,14373.339844,1741200,72.290039,rise
2023-01-09,14504.469727,14752.209961,14504.469727,14752.209961,14752.209961,2581100,378.870117,rise

In [24]:
twii.groupby(["Change_status", "Change"]).mean()

                                   Open          High           Low  \
Change_status Change
fall          -319.138672  17207.220703  17212.550781  16844.570312
              -294.259766  17056.429688  17056.429688  16749.289062
              -289.289062  16708.529297  16708.529297  16481.580078
              -285.149414  16305.160156  16305.160156  16073.740234
              -256.139648  15606.830078  15639.490234  15353.219727
...                                 ...           ...           ...
rise           251.389648  15702.740234  15961.969727  15698.629883
               261.230469  17135.839844  17254.960938  17129.230469
               358.389648  16094.259766  16396.949219  16094.259766
               378.870117  14504.469727  14752.209961  14504.469727
               560.890625  15291.530273  15493.820312  15291.530273

                                  Close     Adj Close     Volume
Change_status Change
fall          -319.138672  16893.730469  16893.730469  4905400.0
              -294.259766  16762.169922  16762.169922  4369600.0
              -289.289062  16481.580078  16481.580078  3217200.0
              -285.149414  16073.740234  16073.740234  2572100.0
              -256.139648  15370.730469  15370.730469  3449300.0
...                                 ...           ...        ...
rise           251.389648  15925.290039  15925.290039  3099200.0
               261.230469  17216.599609  17216.599609  3764800.0
               358.389648  16396.949219  16396.949219  2464200.0
               378.870117  14752.209961  14752.209961  2581100.0
               560.890625  15493.820312  15493.820312  3697500.0

[236 rows x 6 columns]

In [37]:
twii_CO = (twii.Close - twii.Open).apply(lambda x: 1 if x > 0 else -1)
twii_CO_delta = (twii.Close - twii.Open)

In [28]:
twii_CO.value_counts()

 1    147
-1     92
Name: count, dtype: int64

In [29]:
twii_change.value_counts()

Close
rise    145
fall     93
flat      1
Name: count, dtype: int64

In [30]:
twii["C_O"] = twii_CO

In [38]:
twii["C_O_delta"] = twii_CO_delta

In [40]:
twii.groupby(["Change_status", "C_O"])[["Change", "C_O_delta"]].describe()

                  Change                                                 \
                   count        mean        std         min         25%
Change_status C_O
fall          -1    81.0 -116.445204  76.999443 -319.138672 -166.469727
               1    12.0  -26.610107  25.779946  -91.458984  -25.433105
flat           1     0.0         NaN        NaN         NaN         NaN
rise          -1    11.0   39.561967  62.734553    0.180664    8.609863
               1   134.0   97.185758  86.631011    0.229492   34.304932

                                                      C_O_delta              \
                          50%         75%         max     count        mean
Change_status C_O
fall          -1  -102.970703  -51.519531   -7.130859      81.0 -100.701919
               1   -17.584473  -12.211914   -6.130859      12.0   15.699300
flat           1          NaN         NaN         NaN       1.0  115.959961
rise          -1    18.629883   26.450195  213.050781      11.0  -21.579368
               1    69.424805  150.316895  560.890625     134.0   73.041183

                                                                              \
                         std         min         25%         50%         75%
Change_status C_O
fall          -1   69.007988 -313.490234 -148.941406  -84.339844  -43.360352
               1   13.942581    0.490234    5.523438   12.235352   24.745117
flat           1         NaN  115.959961  115.959961  115.959961  115.959961
rise          -1   28.644736  -98.919922  -26.170410  -12.940430   -3.634766
               1   62.146533    1.378906   24.781982   53.290039  109.472900


                          max
Change_status C_O
fall          -1    -0.979492
               1    45.269531
flat           1   115.959961
rise          -1    -0.050781
               1   302.689453

In [43]:
twii.groupby("C_O")["C_O_delta"].mean()

C_O
-1   -91.241614
 1    68.652178
Name: C_O_delta, dtype: float64

In [62]:
twii.groupby([twii.index.month])["Change"].mean()

Date
1     86.756673
2     13.254991
3     15.837806
4    -16.992934
5     45.444602
6     16.828906
7     10.947173
8    -23.223633
9    -14.038477
10   -17.623535
11    65.117276
12    23.664807
Name: Change, dtype: float64

In [69]:
import numpy as np
twii.resample("M")["Change"].agg([np.mean, np.std, min, max, sum])

                 mean         std         min         max          sum
Date
2023-01-31  86.756673  204.743978 -228.620117  560.890625  1041.080078
2023-02-28  13.254991  133.378587 -221.590820  217.259766   238.589844
2023-03-31  15.837806  124.764357 -244.459961  247.009766   364.269531
2023-04-30 -16.992934  101.474230 -256.139648  167.689453  -288.879883
2023-05-31  45.444602  102.645589 -127.120117  251.389648   999.781250
2023-06-30  16.828906  119.204681 -188.791016  261.230469   336.578125
2023-07-31  10.947173  134.603607 -294.259766  246.109375   229.890625
2023-08-31 -23.223633  144.038584 -319.138672  193.968750  -510.919922
2023-09-30 -14.038477  125.195385 -222.679688  226.050781  -280.769531
2023-10-31 -17.623535  139.735551 -285.149414  203.570312  -352.470703
2023-11-30  65.117276  115.331069 -150.000000  358.389648  1432.580078
2023-12-31  23.664807   76.088599  -93.470703  184.179688   496.960938

In [ ]:
data = yf.download("2330.tw", start="2023-01-01", end="2023-12-31")
data

In [ ]:
data["Change"] = data.Close.diff()
data["Change_status"] = data.Close.diff().apply(lambda x: 'rise' if x > 0 else ('fall' if x < 0 else 'flat'))
data.groupby("Change_status").mean()

In [ ]:
data.groupby()

In [ ]:
data.resample("Q").mean()

In [ ]:
data.isna().any()

In [ ]:
data.fillna(0, inplace=True)

In [ ]:
data.groupby("Change_status").mean()